[Unit]
Description=Humanish synthetic camera device
Before=humanish-guest.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/usr/bin/test -c /dev/video0
ExecStartPost=/bin/chown 1000:1000 /dev/video0
ExecStartPost=/bin/chmod 0600 /dev/video0

[Install]
WantedBy=multi-user.target
